@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0;
    padding: 0;
}

.main-part {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;
}

.left-side {
    max-width: 600px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

#background {
    width: 600px;
    height: 900px;
}

.background-color {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 900px;
    width: 100%;
    top: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.photo-writing {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 10px;
    margin-left: 130px;
    top: 50%;
    font-family: 'Kanit', sans-serif;
    font-size: 46px;
    color: white;
}

.photo-footer {
    position: absolute;
    bottom: 2%;
    margin-left: 200px;
}

#logo {
    max-width: 100px;
    width: 100%;
    filter: brightness(200%);
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-header {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.motto {
    margin-top: 20px;
    font-style: italic;
    width: 75%;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 400px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 249, 249);
    border: none;
}

label {
    margin-bottom: 10px;
}

input {
    border: 3px solid white;
    height: 30px;
    width: 450px;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: rgb(167, 9, 70);
}

.form-writing,
.fields {
    margin-left: 40px;
}

.form-writing {
    font-size: 40px;
    font-weight: bold;
}


.fields {
    border: none;
    display: flex;
    font-size: 15px;
}

.first-section,
.second-section,
.third-section,
.fourth-section,
.fifth-section,
.sixth-section{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.below-button {
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
}

a {
    color: rgb(167, 9, 70);
    margin-left: 3px;
    margin-right: 3px;
}

button {
  background-color: #000000;
  border: 4px solid rgb(167, 9, 70);
  border-radius: 6px;
  color: rgb(167, 9, 70);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  user-select: none;
  max-width: 200px;
  height: 60px;
  margin-left: 40px;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(167, 9, 70);
  text-decoration: none;
  transition-duration: 0.1s;
}
